<!DOCTYPE html>
<html>

   <head>

       <link rel="stylesheet" href="css/aboutpage.css">

   </head>

        <style>

        .social-part .fa {
           padding-right:20px;
         }

        ul li a {
           margin-right: 20px;
         }

       .aboutus {
         font-style: italic;
         font: Arial;
         font-size: 100px;
       }

       .bio {
         font-size: 30px;
         font-weight: normal;
       }

      
