.social-part .fa{
    padding-right:20px;
}
ul li a{
    margin-right: 20px;
}

.aboutus{
  font-style: italic;
  font: harlow;
  font-size: 75px;

}

.bio {
  font-size: 25px;
  font-weight: normal;
}

p {
  border-style: solid;
  border-color: black;
  border-width: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}

h3 {
  margin-right: 20px;
  margin-left: 20px;
  color: orange;
}

h5 {
  margin-right: 20px;
  margin-bottom: 30px;
  margin-left: 20px
}

h2 {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  text-decoration: underline;
}
